#static/* linguist-vendored
*.cc linguist-language=cpp
config* linguist-language=make
docs/* linguist-documentation
#*.html linguist-vendored=true
*.am linguist-vendored
*.sh linguist-vendored
Makefile linguist-vendored
makefile linguist-vendored
Makefile* linguist-vendored
