static/* linguist-vendored
docs/* linguist-documentation
*.cc linguist-language=cpp
*.sh linguist-vendored=false
*.am linguist-vendored=false
*.html linguist-vendored=false
makefile linguist-vendored=true
Makefile linguist-vendored=true
Makefile* linguist-vendored=true
